@charset "utf-8";
/* CSS Document */

html {
  font-family: Verdana, Geneva, sans-serif;
}

#title {
  text-align: center;
  background-color: #ffffff;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}

#paragraph {
  text-align: left;
  margin-left: 40px;
}
